
html {
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Open Sans', sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #6E7483;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

header {
    background-image: linear-gradient(131deg, #0F161D 0%, #283139 80%);
    padding-bottom: 3rem;
    min-height: 39rem;
}

.navbar {
    padding: 1rem 0;
}

a.nav-item.nav-link {
    font-size: 0.85rem;
    color: #FFFFFF;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3rem;
}

.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: transparent;
}

.navbar-expand-lg .navbar-nav .nav-link:last-child {
    padding-right: 0;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("../img/menu-toggle.svg");
}


h1,
h2, 
h3,
h4 {
    color: #121A21;
    text-transform: uppercase;
}

h1 {
    /* font-size: 2rem; */
    font-size: 1.6875rem;
    line-height: 1.333;
    text-transform: uppercase;
    font-weight: 700;
}

h2,
h3, 
h4 {
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    text-transform: uppercase;
    letter-spacing: .7px;
    font-size: 1rem;
}

p {
    font-size: 1.125rem;
}

.iphone-device {
    width: 260px;
    margin: 0 auto;
}

.hero-title {
    color: #fff;
}

.hero-subtitle {
    font-size: 1.125rem;
    color: #C3CBDB;
    line-height: 1.5;
}


section {
    margin-top: 5rem;
}

.logo-image {
    margin-top: 4.5rem;
    width: 133.33px;
    height: 80px;
}

.video {
    box-shadow: 0 50px 50px 10px rgba(0,0,0,0.15);
    border-radius: 10px;
    width: 100%;
    height: 230px;
    margin-bottom: 4.5rem;
}

.btn-apple, .btn-google {
    display: block;
    margin-top: 1rem;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.bottom-icon {
    margin-right: 1.25rem;
}

nav {
    margin-top: 0;
    background-color:transparent;
    padding: 1rem 0;
}

#features-section {
    margin-top: 4rem;
    position: relative;
}

.features-dots {
    position: absolute;
    top: -28%;
    right: 0;
    z-index: -10;
}

.features-row {
    margin-top: 4rem;
}

.features-title {
    /* font-size: 2.5rem; */
    color: #121A21;
    letter-spacing: -0.5px;
    /* text-align: center; */
}

.img-features {
    width: 100%;
}

.img-cta {
    width: 100%;
}

.ic-feature {
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    background-color: #f35062;
    position: relative;
    margin-right: 10px;
}

.ic-feature::after {
    content: "";
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    border: solid 5px #ffffff;
    border-radius: 50%;
    top: 30%;
    left: 30%;    
}


/* TESTIMONIALS */

#testimonials-section {
    position: relative;
}

.testimonials-dots {
    position: absolute;
    top: 5%;
    left: 0;
    z-index: 10;
}

.testimonial-title {
    text-transform: none;
    font-weight: 500;
    position: relative;
}

.testimonial-title::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: calc(50% - 1.5rem);
    background: #F35062;
    width: 3.53rem;
    height: 0.312rem;
}

.testimonial-card {
    border-color: transparent;
    border-radius: 8px;
    margin-top: 3rem;
    transition: box-shadow .2s ease;
    overflow: hidden;
    display: flex;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 100%);
}

.testimonial-card::after {
    content: "";
    position: absolute;
    bottom: -1.5rem;
    left: 1rem;
    width: 92.5%;
    height: 1px;
    border: dashed 1px rgba(0, 0, 0, 0.12);    
}


.testimonial-card:hover {
    cursor: pointer;
}

.testimonial-card__image {
    width: 60px;
    height: 60px;
    border: solid 2px #fff;
    position: absolute;
    bottom: 0;
    object-fit: cover;
    left: 1.5rem;
    border-radius: 50%;
}

.testimonial-card__author {
    margin-left: 4rem;
}

.testimonial-card__icon {
    width: 25px;
    height: 25px;
    margin-bottom: 1.5rem;
    position: absolute;
    bottom: 0;
    right: 2rem;
}

.testimonial-card__detail {
    padding: 1rem;
}

.testimonial-card__text {
    font-style: italic;
    position: relative;
    font-weight: 500;
}

.testimonial-card__text::before {
    content: "";
    position: absolute;
    top: -.5rem;
    left: -1rem;
    width: 38px;
    height: 27px;
    background: url("../img/img-quotes.svg") no-repeat top left;
    z-index: -1;
}

.testimonial-card__name {
    margin-top: 1.5rem;
    font-size: .875rem;
    color: #2B292D;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
}

.testimonial-card__jobtitle {
    font-size: .875rem;
    /* color: #6E7483; */
    letter-spacing: 0;
    font-weight: 500;
    margin-bottom: 0;
}

/* CTA */

#cta-section {
    position: relative;
}

.cta-dots {
    position: absolute;
    top: -65%;
    right: 0;
    z-index: -10;
}

.cta-title {
    margin-top: -2rem;
    color: #121A21;
    letter-spacing: -0.5px;
    font-weight: 800;
}

.cta-disclaimer {
    font-size: .875rem;
    position: relative;
    max-width: 14.8rem;
    line-height: 1.5;
    left: 2rem;
}

.cta-disclaimer::before {
    content: "";
    position: absolute;
    background: #F35062;
    width: 1.25rem;
    height: .1875rem;
    left: -2rem;
    top: 25%;
}


/* NEWSLETTER */

#newsletter-section {
    margin-top: 0;
    position: relative;
}

.img-newsletter {
    width: 135%;
    transform: translate(-9rem, 2.5rem);
}

.newsletter-box {
    color: #fff;
    padding: 1.5rem;
    background-image: linear-gradient(131deg, #0F161D 0%, #283139 80%);
    box-shadow: 0 50px 50px 10px rgba(0,0,0,0.15);
    width: 100%;
}

.newsletter-box__title {
    color: #fff;
    font-weight: 800;
}

.newsletter-box__description {
    font-size: 1.375rem;
    line-height: 1.45;
    margin-bottom: 1.5rem;
}

.newsletter-box__input {
    width: 100%;
    padding: .7rem;
    border-radius: 2px;
    border: solid 1px rgba(43, 41, 45, 0.2);
    background-color: #ffffff;    
}

.newsletter-box__button {
    width: 100%;
    background: #F35062;
    background-image: linear-gradient(180deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.00) 100%);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.10), 0 4px 6px 0 rgba(0,0,0,0.05), inset 0 1px 0 0 rgba(255,255,255,0.10);
    border-radius: 2px;
    margin-left: 0;
    padding: 1.15rem 3rem;
    font-size: 1.125rem;
    line-height: 0.72;
    text-align: center;
    border-style: none;
    color: #fff; 
}

.newsletter-box__disclaimer {
    margin: .5625rem 0 0;
    font-size: .875rem;
    color: #E5FBFF;
}

.newsletter-box__disclaimer a {
    color: #fff;
    font-weight: bold;
}




/* FOOTER */

#footer-section {
    position: relative;
}

.watermark {
    position: absolute;
    bottom: 4.5rem;
    left: 0;
}

.footer-brand__text {
    max-width: 24.5rem;
}

.footer-brand__text a {
    color: #F35062;
    font-weight: bold;
}

.footer-menu__title {
    font-size: .875rem;
    color: #2B292D;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800;
}

.footer-menu__list {
    list-style: none;
    padding-left: 0;
}

.footer-menu__list a {
    font-size: 1.125rem;
    color: rgba(43,41,45,0.60);
    line-height: 2;
}

.footer-menu__social {
    list-style: none;
    padding-left: 0;
    display: flex;
}

.footer-menu__social img:hover {
    width: 120%;
}

.copyright {
    background: #FAFAFA;
    padding: 1.5rem 0;
}




/* Responsive Settings */

@media only screen and (max-width: 320px) {
    .video {
        height: 15.5rem;
    }   
}

@media only screen and (min-width: 575px) {

    .video {
        height: 400px;
    }

    .btn-apple, .btn-google {
        display: inline-block;
    }

    .testimonial-card {
        border: 1px solid rgba(43,41,45,0.20);
    }  

    .testimonial-card:hover {
        box-shadow: 0 13px 18px -8px rgba(0,0,0,0.15), 0 11px 55px 10px rgba(0,0,0,0.07);
        border-color: transparent;
        border-radius: 8px;
    }    
    
    .testimonial-card::after {
        width: 0;
        height: 0;
        border-color: transparent;    
    }  

    .testimonial-card__detail {
        padding: 1rem 1.5rem 1rem 3rem;
    }    

    .testimonial-card__image {
        width: 10.4rem;
        height: inherit;
        border-radius: 0;
        border: none;
        position: relative;
        left: 0;
    }

    .testimonial-card__icon {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: 1.5rem;
    } 
    
    .testimonial-card__author {
        margin-left: 0;
    }    
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 2rem;
    }
}


@media only screen and (min-width: 991px) {

    #footer-section {
        margin-top: 10rem;
    }

    .cta-title {
        margin-top: 3rem;
    }    

    #features-section {
        margin-top: 12rem;
    }    

    section {
        margin-top: 10rem;
    }

    .img-cta {
        width: 115%;
        transform: translate(2.5rem, 1rem);    
    }

    .btn-apple, .btn-google {
        width: 254px;
        margin-top: 0;
    }
    

    #testimonials-section::before {
        content: "";
        position: absolute;
        top: 18%;
        left: 0;
        width: 100%;
        height: 500px;
        background-image: linear-gradient(180deg, #F9F9F9 88%, rgba(255,255,255,0.00) 100%);
        z-index: -1;
    }    

    #newsletter-section::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 67.75rem;
        height: 38rem;
        background-color: #f8f8f8;
    }    

    .newsletter-box {
        padding: 2.5rem 5rem 2.5rem 2.2rem;
    }

    .newsletter-box__input {
        width: 18rem;   
    }
    
    .newsletter-box__button {
        max-width: 10rem;
        margin-left: .5625rem;    
    }

    .features-list {
        transform: translateX(40px);
    }
    
    .img-features {
        width: 107%;
        transform: translate(-3rem, -3rem);
    }

    .newsletter-box {
        width: 37.5rem;
        transform: translateX(-3rem);  
    }

    .header {
        background: linear-gradient(131deg, rgba(15, 22, 29, .93) 0%, rgba(40, 49, 57, .93) 80%), url("../img/img-hero-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;    
        padding-bottom: 0;
    }
    .webp .header{
        background: linear-gradient(131deg, rgba(15, 22, 29, .93) 0%, rgba(40, 49, 57, .93) 80%), url("../img/img-hero-bg.webp");
    }
    
    .iphone-device {
        width: 335px;
        position: absolute;
        right: 0;
    }

    h1 {
        font-size: 2.5rem;
    }
    
    .menu {
        margin-top: 0;
    }

    .menu-item:first-child {
        margin-left: auto;
    }
}

@media all and (max-width: 1200px) {
    .testimonial-card {
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 71%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 70%,rgba(255,255,255,1) 71%,rgba(255,255,255,1) 100%);
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 70%,rgba(255,255,255,1) 71%,rgba(255,255,255,1) 100%);
    }
}